@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(186, 170, 28, 1) 100%
  );
  text-align: center;
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  position: relative;
}

.pokedex-image {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  max-width: 65.5rem;
}

.pokemon-image {
  position: absolute;
  bottom: 50%;
  left: 30%;
  transform: translateX(-33%, 30%);
  height: 18%;
}

.pokemon__data {
  position: absolute;
  font-weight: 700;
  color: #161515;
  top: 54.5%;
  right: 27%;
  transform: translateX(-33%, 30%);
  font-size: clamp(.8rem, 5vw, 2.5rem);
}

.pokemon__name {
  color: rgb(51, 53, 51);
  text-transform: capitalize;
}

.formulario {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 15%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: .2rem solid #333;
  border-radius: .5rem;
  font-weight: 600;
  color: #3a4443;
  font-size: clamp(.8rem, 5vw, 1.5rem);
  box-shadow: -.3rem .4rem 0 #888;
}

.buttons {
  position: absolute;
  bottom: 10%;
  width: 65%;
  left: 50%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 2rem;
}

.button {
  width: 50%;
  padding: 4%;
  border: .2rem solid #000;
  border-radius: .5rem;
  font-size: clamp(.8rem, 5vw, 1.5rem);
  font-weight: 600;
  color: white;
  background-color: #302e2e;
  box-shadow: -.2rem .3rem 0 #222;
}

.button:active {
  box-shadow: inset -.4rem .4rem 0 #222;
  font-size: 1.2rem;
}